.obsidian-orthography-highlight {
  color: #fff;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
  cursor: pointer;
}

.obsidian-orthography-tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.obsidian-orthography-tooltip--visible {
  display: flex;
  flex-direction: column;
}

.obsidian-orthography-tooltip--visible button {
  margin: 2px 0;
}

.obsidian-orthography-runner {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 30px;
  font-size: 22px;
  border-radius: 100%;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 999;
}