/* Sets all the text color to red! */
.obsidian-orthography-highlight {
    color: #fff;
    border-bottom: 1px solid rgba(255, 0, 0, 1);
    cursor: pointer;
}

.obsidian-orthography-tooltip {
    position: absolute;
    background: #ffffcc;
    border: 1px solid black;
    padding: 5px;
    z-index: 1000;
    color: black;
    display: none;
}

.obsidian-orthography-tooltip--visible {
    display: flex;
}

.obsidian-orthography-runner {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 22px;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 999;
}
